<h1> John's Cocktail Bar </h1>

<%= cl_image_tag("tfyizpsoxh6vc2kequzi",
      width: 400, height: 300, crop: :fill) %>

<br>
       
<% @cocktails.each do |cocktail| %>
<img src= <%= cocktail.image_url %> alt="cocktail" width="300" height="250">
<h2><%= link_to cocktail.name, cocktail_path(cocktail.id) %> 
</h2>
<% end %>

<%= link_to 'Add new cocktail', new_cocktail_path(@cocktail) %>
<!-- link to create a new cocktail -->